@charset "UTF-8";
.radio,
.checkbox {
  display: inline-block; }

.checkbox input[type="checkbox"] {
  position: absolute;
  left: -9999px; }
  .checkbox input[type="checkbox"] ~ label {
    position: relative;
    display: inline-block;
    padding-left: 3rem;
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
    user-select: none; }
    .checkbox input[type="checkbox"] ~ label::before, .checkbox input[type="checkbox"] ~ label::after {
      position: absolute;
      top: 0.4rem;
      left: 0;
      display: block;
      content: ""; }
    .checkbox input[type="checkbox"] ~ label::before {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      background: none;
      border: 1px solid #666;
      border-radius: 2px; }
    .checkbox input[type="checkbox"] ~ label::after {
      margin: calc( 0.1rem + 1px);
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 1.8rem;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      line-height: 1;
      color: inherit;
      text-rendering: auto; }
  .checkbox input[type="checkbox"]:checked ~ label::after {
    content: ""; }
  .checkbox input[type="checkbox"].error ~ label::before {
    border-color: #c00; }

.radio input[type="radio"] {
  position: absolute;
  left: -9999px; }
  .radio input[type="radio"] ~ label {
    position: relative;
    display: inline-block;
    padding-left: 3rem;
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
    user-select: none; }
    .radio input[type="radio"] ~ label::before, .radio input[type="radio"] ~ label::after {
      position: absolute;
      top: 0.4rem;
      left: 0;
      display: block;
      content: ""; }
    .radio input[type="radio"] ~ label::before {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      background: none;
      border: 1px solid #666;
      border-radius: 50%; }
    .radio input[type="radio"] ~ label::after {
      margin: calc(0.3rem + 2px);
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 1.4rem;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      line-height: 1;
      color: inherit;
      text-rendering: auto; }
  .radio input[type="radio"]:checked ~ label::after {
    content: ""; }
  .radio input[type="radio"].error ~ label::before {
    border-color: #c00; }

body {
  font-family: "verdana"; }
