.checkbox input,
.radio input {
  display: none;
}

.checkbox input ~ label,
.radio input ~ label {
  display: inline-block;
  position: relative;
  padding-left: 2em;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  min-height: 1em;
}

.checkbox input ~ label::before, .checkbox input ~ label::after,
.radio input ~ label::before,
.radio input ~ label::after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  content: "";
}

.checkbox input ~ label::before,
.radio input ~ label::before {
  border: 1px solid;
  border-color: black;
  background: transparent;
}

.checkbox input ~ label::after,
.radio input ~ label::after {
  content: "";
  display: inline-block;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  top: 0px;
  left: 0px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.checkbox input:checked ~ label::after,
.radio input:checked ~ label::after {
  display: block;
}

.checkbox input ~ label::before {
  border-radius: 2px;
}

.checkbox input ~ label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z' fill='black' /%3E%3C/svg%3E");
  background-size: 70%;
  background-position: 49% 49%;
}

.radio input ~ label::before {
  border-radius: 50%;
}

.radio input ~ label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='12' fill='black' /%3E%3C/svg%3E");
  background-size: 45%;
  background-position: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
}

fieldset {
  margin-bottom: 1em;
}

.font-size--2 {
  font-size: 1.5rem;
}

.font-size--3 {
  font-size: 2rem;
}

.font-size--4 {
  font-size: 3rem;
}
