$ccr-size: 1em !default;
$ccr-color-outer: black !default;
$ccr-color-outer-checked: $ccr-color-outer !default;
$ccr-color-inner: black !default;
$ccr-background: #fff !default;
$ccr-background-checked: $ccr-background !default;
$ccr-border-width: 1px !default;
$ccr-border-width-focus: $ccr-border-width + 1px !default;
$ccr-border-radius-checkbox: 2px !default;
$ccr-icon-scale-checkbox: 70% !default;
$ccr-icon-scale-radio: 45% !default;
