$size: 1em !default;
$color-outer: black !default;
$color-outer-checked: $color-outer !default;
$color-inner: black !default;
$background: #fff !default;
$background-checked: $background !default;
$border-width: 1px !default;
$border-width-focus: $border-width + 1px !default;
$border-radius-checkbox: 2px !default;
$icon-scale-checkbox: 70% !default;
$icon-scale-radio: 45% !default;
$offset-y: -15% !default;
$line-height: 1.1 !default;
